* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin:0;
    background-color: rgb(230,230,230);
    font-family: Arial, Helvetica, sans-serif;
}

/* BARRA SUPERIOR */

.caixa{
    width:100%;
    height:10vh;
    background-color: white;


    display:flex;
    align-items:center;
    justify-content:space-between;
}


/* BLOCO DO LOGO */

.caixote{
    width:40vh;
    height:10vh;
    background-color: white;
    clip-path: polygon(
        0% 0%, 
        80% 0%, 
        65% 100%, 
        0% 100%
    );
    

    display:flex;
    align-items:center;
    justify-content:center;

    flex-direction: row;
    align-items: center;
    padding: 20px; 
    transition: transform 0.5s ease;
}
  .caixote{
    transform-origin: top left;
}
  
.caixote:hover {
    transform: scale(1.35);
}


/* TEXTO LOGO */
.cerun{
    color:#ff751f;
    font-size:28px;
    font-weight:bold;
}
/* Icons */
.logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 100px;
    gap: 20px;
}

.logo svg {
    color: #ff751f;
    width: 22px;
    height: 22px;
}



/* MENU */
nav{
    margin-right: 500px;
}

nav a{
    color:#ff751f;
    text-decoration:none;

    font-size:16px;
    font-weight:bold;

    padding:8px 15px;
    margin:0 5px;

    border-radius:5px;
}
.espaco-laranja {
    background-color: #ff751f;
    min-height: 90vh;
    width: 100%;

    display: flex;
    align-items: center;      
    justify-content: center;  

    text-align: center;
    color: white;
    padding: 20px;
}
.espaco-laranja {
    background: linear-gradient(135deg, #ff7824, #fd6100);
}
.CRI {
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}


.nome1 {
    transition: transform 0.4s ease;
}
.nome1:hover {
    transform: scale(1.25);
    filter: brightness(1.1);
}

.subtitulo {
    font-size: 22px;
    opacity: 0.9;
}
.details {
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);

      text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: unsetJ;
}